<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    				   http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd" >
    				   

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint 
	  id="authenticationService" 
	  implementor="#authenticate"
	  address="/AuthenticationService" />
		
	<jaxws:endpoint 
	  id="navigationService" 
	  implementor="#navigatorDataService"
	  address="/NavigationService" />


	<jaxws:endpoint id="groupDataService"
		implementor="#groupManager"
		wsdlLocation="WEB-INF/wsdl/GroupDataService.wsdl"
		address="/GroupDataWebService">
		<jaxws:properties>
            <entry key="schema-validation-enabled" value="false" />
        </jaxws:properties>
	</jaxws:endpoint>

	<jaxws:endpoint id="userDataService"
		implementor="#userManager"
		address="/UserDataService" >
		<jaxws:properties>
            <entry key="schema-validation-enabled" value="false" />
        </jaxws:properties>
	</jaxws:endpoint>	
		
<!-- 	
	<jaxws:endpoint id="userDataService"
		implementor="#userManager"
		wsdlLocation="WEB-INF/wsdl/UserDataService.wsdl"
		address="/UserDataService"/>	
-->		
	<jaxws:endpoint id="roleService"
		implementor="#roleDataService"
		wsdlLocation="WEB-INF/wsdl/RoleDataService.wsdl"
		address="/RoleDataWebService">
		<jaxws:properties>
            <entry key="schema-validation-enabled" value="false" />
        </jaxws:properties>
	</jaxws:endpoint>		
	  		
 
	<jaxws:endpoint id="orgDataService"
		implementor="#orgManager"
		wsdlLocation="WEB-INF/wsdl/OrganizationDataService.wsdl" 
		address="/OrganizationDataService" >
		<jaxws:properties>
            <entry key="schema-validation-enabled" value="false" />
        </jaxws:properties>
	</jaxws:endpoint>

	<jaxws:endpoint 
	  id="metaService" 
	  implementor="#metadataService"
	  address="/MetadataWebService" />

	<jaxws:endpoint id="policyService" 
	  implementor="#policyDataService"
	  address="/PolicyWebService" >
	</jaxws:endpoint>     

	<jaxws:endpoint id="emailService" 
	  implementor="#mailService"
	  address="/EmailWebService" >
	</jaxws:endpoint>   

	<jaxws:endpoint id="secDomService" 
	  implementor="#secDomainService"
	  address="/SecurityDomainWebService" >
	</jaxws:endpoint> 		

	<jaxws:endpoint id="locationService" 
	  implementor="#locationDataService"
	  address="/LocationWebService" >
	</jaxws:endpoint> 

	<jaxws:endpoint id="managedService" 
	  implementor="#managedSysService"
	  address="/ManagedSystemWebService" >
	</jaxws:endpoint> 	
	
	<jaxws:endpoint id="loginService" 
	  implementor="#loginManager"
	  address="/LoginWebService" >
	</jaxws:endpoint> 	

<!-- 
	<jaxws:endpoint id="pswdService" 
	  implementor="#passwordManager"
	  address="/PasswordWebService" >
	</jaxws:endpoint> 		
-->
</beans>
<!-- END SNIPPET: beans -->
