<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    					http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="locations">
	        <value>classpath:datasource.properties</value>
	    </property>
	</bean>
	
	<bean id="sysConfiguration" class="org.openiam.base.SysConfiguration">
		<property name="defaultManagedSysId" value="${openiam.default_managed_sys}" />
		<property name="defaultSecurityDomain" value="${openiam.default_sec_domain}" />
	</bean>

	<!-- Authentication Beans -->
	<bean id="authenticate" class="org.openiam.idm.srvc.auth.service.AuthenticationServiceImpl">
		<property name="defaultLoginModule" ref="defaultLoginModuleManager" />
		<property name="authStateDao" ref="authStateDAO" />
		<property name="loginManager" ref="loginManager" />
		<property name="secDomainService" ref="secDomainService" />
		<property name="authContextClass" value="org.openiam.idm.srvc.auth.context.AuthenticationContextImpl" />
		<property name="defaultToken" ref="defaultSSOToken" />
		<property name="userManager" ref="userManager" />
		<property name="policyDao" ref="policyDAO" />
		<property name="groupManager" ref="groupManager" />
		<property name="roleManager" ref="roleDataService" />
		<property name="cryptor" ref="cryptor" />
		<property name="auditUtil" ref="auditUtil" />
		<property name="sysConfiguration" ref="sysConfiguration" />
		<property name="scriptEngine" value="org.openiam.script.GroovyScriptEngineIntegration" />
		
	</bean>

		
	<bean id="defaultLoginModuleManager" class="org.openiam.idm.srvc.auth.spi.DefaultLoginModule" >
	</bean>

	<bean id="defaultSSOToken" class="org.openiam.idm.srvc.auth.sso.DefaultTokenModule" >
		<property name="cryptor" ref="cryptor" />
	</bean>

			
	<!-- Service Beans -->
	<bean id="serviceManager" class="org.openiam.idm.srvc.service.service.ServiceMgr">
		<constructor-arg ref="serviceDAO"></constructor-arg>
	</bean>
	
	<bean id="serviceDAO" class="org.openiam.idm.srvc.service.service.ServiceDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>

	
	<!-- Group Beans -->
	<bean id="groupWS" class="org.openiam.idm.srvc.grp.ws.GroupDataWebServiceImpl" >
		<property name="groupManager" ref="groupManager" />
	</bean>
	
	<bean id="groupManager" class="org.openiam.idm.srvc.grp.service.GroupDataServiceImpl" >
		<property name="groupDao" ref="groupDAO" />
		<property name="groupAttrDao" ref="groupAttrDAO" />
		<property name="userDao" ref="userDAO" />
		<property name="userGroupDao" ref="userGroupDAO" />
	</bean>

	<bean id="groupDAO" class="org.openiam.idm.srvc.grp.service.GroupDAOImpl" >
		<property name="userDao" ref="userDAO" />
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="maxResultSetSize" value="100" />			
	</bean>	
	<bean id="groupAttrDAO" class="org.openiam.idm.srvc.grp.service.GroupAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="userGroupDAO" class="org.openiam.idm.srvc.grp.service.UserGroupDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>		

 <!-- QueryDataService  -->
	<bean id="queryWS" class="org.openiam.idm.srvc.qry.ws.QueryDataWebServiceImpl" >
		<property name="queryService" ref="queryDataService" />
	</bean>
	
	<bean id="queryDataService" class="org.openiam.idm.srvc.qry.service.QueryDataServiceImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>	
	</bean>	
	
	<!-- User Beans -->

	<bean id="userWS" class="org.openiam.idm.srvc.user.ws.UserDataWebServiceImpl" >
		<property name="userManager" ref="userManager" />
	</bean>
	
	<bean id="userManager" class="org.openiam.idm.srvc.user.service.UserMgr" >
		<property name="userDao" ref="userDAO" />
		<property name="userAttributeDao" ref="userAttributeDAO" />
		<property name="userNoteDao" ref="userNoteDAO" />
		<property name="addressDao" ref="addressDAO" />
		<property name="emailAddressDao" ref="emailAddressDAO" />
		<property name="phoneDao" ref="phoneDAO" />
		<property name="supervisorDao" ref="supervisorDAO" />
		<property name="loginDao" ref="loginDAO" />
	</bean>



	<bean id="userDAO" class="org.openiam.idm.srvc.user.service.UserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>	
		<property name="seqGenDao" ref="seqGenDAO"></property>
		<property name="emailSearchVal" value="EMAIL1" />
		<property name="phoneSearchVal" value="Desk Phone" />	
		<property name="maxResultSetSize" value="${fetch.size}" />	
		<property name="dbType" value="${openiam.dbType}" />
	</bean>	

	<bean id="userAttributeDAO" class="org.openiam.idm.srvc.user.service.UserAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="userNoteDAO" class="org.openiam.idm.srvc.user.service.UserNoteDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="addressDAO" class="org.openiam.idm.srvc.continfo.service.AddressDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="emailAddressDAO" class="org.openiam.idm.srvc.continfo.service.EmailAddressDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="phoneDAO" class="org.openiam.idm.srvc.continfo.service.PhoneDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="supervisorDAO" class="org.openiam.idm.srvc.user.service.SupervisorDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<!-- Org Beans -->
	<bean id="orgManager" class="org.openiam.idm.srvc.org.service.OrganizationDataServiceImpl" >
		<property name="orgDao" ref="orgDAO" />
		<property name="orgAttrDao" ref="orgAttrDAO" />
	</bean>

	<bean id="orgDAO" class="org.openiam.idm.srvc.org.service.OrganizationDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="orgAttrDAO" class="org.openiam.idm.srvc.org.service.OrganizationAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	
	<!-- Metadata Beans -->
	
	<!-- Idm Audit Beans -->
	<bean id="auditWS" class="org.openiam.idm.srvc.audit.ws.IdmAuditLogWebDataServiceImpl" >
		<property name="auditDataService" ref="auditDataService" />
	</bean>

	<bean id="auditUtil" class="org.openiam.idm.srvc.audit.service.AuditLogUtil" >
		<property name="auditDataService" ref="auditDataService" />
	</bean>

	<bean id="auditHelper" class="org.openiam.idm.srvc.audit.service.AuditHelper" >
		<property name="auditDataService" ref="auditDataService" />
	</bean>
			
	<bean id="auditDataService" class="org.openiam.idm.srvc.audit.service.IdmAuditLogDataServiceImpl" >
		<property name="auditDao" ref="auditDAO" />
		<property name="hash" ref="hash" />
	</bean>

	<bean id="auditDAO" class="org.openiam.idm.srvc.audit.service.IdmAuditLogDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="seqGenDAO" class="org.openiam.base.id.SequenceGenDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="oracleSeqGenDAO" class="org.openiam.base.id.OracleSequenceGenDAOImpl">
		
	</bean>	
	
	<!-- Menu Beans -->
	<bean id="navigatorWS" class="org.openiam.idm.srvc.menu.ws.NavigatorDataWebServiceImpl" >
		<property name="navigatorDataService" ref="navigatorDataService" />
	</bean>
	
	<bean id="navigatorDataService" class="org.openiam.idm.srvc.menu.service.NavigatorDataServiceImpl" >
		<property name="navigatorDao" ref="navigatorDAO" />
		<property name="permissionDao" ref="permissionDAO" />
	</bean>

	<bean id="navigatorDAO" class="org.openiam.idm.srvc.menu.service.NavigatorDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="permissionDAO" class="org.openiam.idm.srvc.menu.service.PermissionDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	
	<!-- Login Beans -->
	<bean id="loginManager" class="org.openiam.idm.srvc.auth.login.LoginDataServiceImpl" >
		<property name="loginDao" ref="loginDAO" />
		<property name="loginAttrDao" ref="loginAttrDAO" />
		<property name="cryptor" ref="cryptor" />
		<property name="secDomainService" ref="secDomainService" />
		<property name="userDao" ref="userDAO" />
		<property name="policyDao" ref="policyDAO" />
		<property name="passwordManager" ref="passwordManager" />
		<property name="passwordHistoryDao" ref="passwordHistoryDAO" />	
		<property name="sysConfiguration" ref="sysConfiguration" />
	</bean>
	<bean id="loginWS" class="org.openiam.idm.srvc.auth.ws.LoginDataWebServiceImpl" >
		<property name="loginDS" ref="loginManager" />
	</bean>
	

	<bean id="loginDAO" class="org.openiam.idm.srvc.auth.login.LoginDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="loginAttrDAO" class="org.openiam.idm.srvc.auth.login.LoginAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="authStateDAO" class="org.openiam.idm.srvc.auth.login.AuthStateDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<!-- Password Beans -->
	<bean id="challengeResponse" class="org.openiam.idm.srvc.pswd.service.ChallengeResponseServiceImpl" >
		<property name="cryptor" ref="cryptor" />
		<property name="policyDataService" ref="policyDataService" />
		<property name="identityQuestGroupDao" ref="identityQuestGroupDAO" />
		<property name="identityQuestDao" ref="identityQuestDAO" />
		<property name="identityAnswerDao" ref="identityAnswerDAO" />
		
		<property name="loginManager" ref="loginManager" />
		
	</bean>

	<bean id="passwordWS" class="org.openiam.idm.srvc.pswd.ws.PasswordWebServiceImpl" >
		<property name="passwordDS" ref="passwordManager" />
	</bean>
		
	<bean id="passwordManager" class="org.openiam.idm.srvc.pswd.service.PasswordServiceImpl" >
		<property name="secDomainService" ref="secDomainService" />
		<property name="passwordValidator" ref="passwordValidator" />	
		<property name="userManager" ref="userManager" />
		<property name="loginManager" ref="loginManager" />
		<property name="policyAssocDao" ref="policyObjectAssocDAO" />
		<property name="policyDataService" ref="policyDataService" />
		<property name="cryptor" ref="cryptor" />	
		<property name="passwordHistoryDao" ref="passwordHistoryDAO" />	
		
	</bean>	

	<bean id="passwordHistoryDAO" class="org.openiam.idm.srvc.pswd.service.PasswordHistoryDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>	
	</bean>	

	<bean id="policyObjectAssocDAO" class="org.openiam.idm.srvc.policy.service.PolicyObjectAssocDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="identityQuestGroupDAO" class="org.openiam.idm.srvc.pswd.service.IdentityQuestGroupDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="identityQuestDAO" class="org.openiam.idm.srvc.pswd.service.IdentityQuestionDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="identityAnswerDAO" class="org.openiam.idm.srvc.pswd.service.UserIdentityAnswerDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>		

	<bean id="passwordValidator" class="org.openiam.idm.srvc.pswd.rule.PasswordValidatorImpl" >
		<property name="policyDataService" ref="policyDataService" />
		<property name="secDomainService" ref="secDomainService" />
		<property name="userDao" ref="userDAO" />
		<property name="loginDao" ref="loginDAO" />
		<property name="passwordHistoryDao" ref="passwordHistoryDAO" />	
		<property name="cryptor" ref="cryptor" />	
			
	</bean>	
	
	<!-- Role Beans -->
	<bean id="roleWS" class="org.openiam.idm.srvc.role.ws.RoleDataWebServiceImpl" >
		<property name="roleDataService" ref="roleDataService" />
	</bean>
	
	<bean id="roleDataService" class="org.openiam.idm.srvc.role.service.RoleDataServiceImpl" >
		<property name="roleDao" ref="roleDAO" />
		<property name="roleAttributeDAO" ref="roleAttributeDAO" />
		<property name="userManager" ref="userManager" />
		<property name="userRoleDao" ref="userRoleDAO" />
		<property name="userGroupDao" ref="userGroupDAO" />
	</bean>

	<bean id="roleDAO" class="org.openiam.idm.srvc.role.service.RoleDAOImpl" >
		<property name="groupDao" ref="groupDAO" />
		<property name="userDao" ref="userDAO" />
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="roleAttributeDAO" class="org.openiam.idm.srvc.role.service.RoleAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="userRoleDAO" class="org.openiam.idm.srvc.role.service.UserRoleDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<!-- Policy Beans -->
	<bean id="policyDataService" class="org.openiam.idm.srvc.policy.service.PolicyDataServiceImpl" >
		<property name="policyDefDao" ref="policyDefDAO" />
		<property name="policyDao" ref="policyDAO" />
		<property name="policyDefParamDao" ref="policyDefParamDAO" />
		<property name="objectAssoc" ref="policyObjectAssocDAO" />
	</bean>
		
	<bean id="policyDefDAO" class="org.openiam.idm.srvc.policy.service.PolicyDefDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="policyDefParamDAO" class="org.openiam.idm.srvc.policy.service.PolicyDefParamDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="policyDAO" class="org.openiam.idm.srvc.policy.service.PolicyDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<!-- Resource Beans -->
	<bean id="resourceDataService" class="org.openiam.idm.srvc.res.service.ResourceDataServiceImpl" >
		<property name="resourceDao" ref="resourceDAO" />
		<property name="resourceTypeDao" ref="resourceTypeDAO" />
		<property name="resourcePropDao" ref="resourcePropDAO" />
		<property name="resourceRoleDao" ref="resourceRoleDAO" />
		<property name="resourceUserDao" ref="resourceUserDAO" />
		<property name="attributeMapDao" ref="attributeMapDAO" />
	</bean>

	<bean id="resourceDAO" class="org.openiam.idm.srvc.res.service.ResourceDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
		<property name="resourceTypeDao" ref="resourceTypeDAO" />
		<property name="resourcePropDao" ref="resourcePropDAO" />
		<property name="resourceRoleDao" ref="resourceRoleDAO" />
	</bean>	
	
	<bean id="resourceTypeDAO" class="org.openiam.idm.srvc.res.service.ResourceTypeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
		
	<bean id="resourcePropDAO" class="org.openiam.idm.srvc.res.service.ResourcePropDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<bean id="resourceRoleDAO" class="org.openiam.idm.srvc.res.service.ResourceRoleDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="resourceUserDAO" class="org.openiam.idm.srvc.res.service.ResourceUserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
		
	<!-- Reference Data Beans -->
	<bean id="refDataService" class="org.openiam.idm.srvc.cd.service.ReferenceDataServiceImpl" >
		<property name="refDao" ref="refDAO" />
	</bean>

	<bean id="refDAO" class="org.openiam.idm.srvc.cd.service.ReferenceDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<!-- SecurityDomain Beans -->

	<bean id="secDomainService" class="org.openiam.idm.srvc.secdomain.service.SecurityDomainDataServiceImpl" >
		<property name="secDomainDao" ref="secDomainDAO" />
	</bean>

	<bean id="secDomainDAO" class="org.openiam.idm.srvc.secdomain.service.SecurityDomainDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<!-- Provisioning Connector Beans -->
	<bean id="connectorService" class="org.openiam.idm.srvc.mngsys.service.ConnectorDataServiceImpl" >
		<property name="connectorDao" ref="connectorDAO" />
	</bean>

	<bean id="connectorDAO" class="org.openiam.idm.srvc.mngsys.service.ProvisionConnectorDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="managedSysService" class="org.openiam.idm.srvc.mngsys.service.ManagedSystemDataServiceImpl" >
		<property name="managedSysDao" ref="managedSysDAO" />
		<property name="managedSysObjectMatchDao" ref="managedSysObjectMatchDAO" />
		<property name="approverAssociationDao" ref="approverAssociationDAO" />
		<property name="userManager" ref="userManager" />
		<property name="cryptor" ref="cryptor" />
	</bean>
	
	<bean id="managedSysDAO" class="org.openiam.idm.srvc.mngsys.service.ManagedSysDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="managedSysObjectMatchDAO" class="org.openiam.idm.srvc.mngsys.service.ManagedSystemObjectMatchDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="approverAssociationDAO" class="org.openiam.idm.srvc.mngsys.service.ApproverAssociationDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="attributeMapDAO" class="org.openiam.idm.srvc.mngsys.service.AttributeMapDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="provRequestWS" class="org.openiam.idm.srvc.prov.request.ws.RequestWebServiceImpl" >
		<property name="provRequestService" ref="provRequestService" />
	</bean>
	
	<bean id="provRequestService" class="org.openiam.idm.srvc.prov.request.service.RequestDataServiceImpl" >
		<property name="requestDao" ref="requestDAO" />
		<property name="managedResource" ref="managedSysService" />		
		<property name="approverAssociationDao" ref="approverAssociationDAO" />
		<property name="userManager" ref="userManager" />
		<property name="mailSender" ref="mailService" />
		<property name="defaultSender" value="${mail.defaultSender}" />
		<property name="subjectPrefix" value="${mail.defaultSubjectPrefix}" />

	</bean>
	<bean id="requestDAO" class="org.openiam.idm.srvc.prov.request.service.ProvisionRequestDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>	
		<property name="maxResultSetSize" value="${fetch.size}" />		
	</bean>	


	<!-- Metadata Beans -->
	
	<bean id="metadataWS" class="org.openiam.idm.srvc.meta.ws.MetadataWebServiceImpl" >
		<property name="metadataService" ref="metadataService" />
	</bean>
	
	<bean id="metadataService" class="org.openiam.idm.srvc.meta.service.MetadataServiceImpl" >
		<property name="metadataTypeDao" ref="metadataTypeDAO" />
		<property name="metadataElementDao" ref="metadataElementDAO" />
	</bean>
	
	<bean id="metadataElementDAO" class="org.openiam.idm.srvc.meta.service.MetadataElementDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="metadataTypeDAO" class="org.openiam.idm.srvc.meta.service.MetadataTypeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
		<property name="categoryDao" ref="categoryDAO" />
	</bean>	
	
	<!-- Category Beans -->
	<bean id="categorydataService" class="org.openiam.idm.srvc.cat.service.CategoryDataServiceImpl" >
		<property name="categoryDao" ref="categoryDAO" />
		<property name="categoryLanguageDao" ref="categoryLanguageDAO" />
	</bean>

	<bean id="categoryDAO" class="org.openiam.idm.srvc.cat.service.CategoryDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	<bean id="categoryLanguageDAO" class="org.openiam.idm.srvc.cat.service.CategoryLanguageDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<!-- Notification and Message Delivery Beans --> 
	<bean id="messageWS" class="org.openiam.idm.srvc.msg.ws.SysMessageWebServiceImpl" >
		<property name="msgService" ref="sysMessageService" />
	</bean>
	
	<bean id="sysMessageService" class="org.openiam.idm.srvc.msg.service.SysMessageServiceImpl" >
		<property name="msgDao" ref="sysMessageDAO" />
	</bean>

	<bean id="sysMessageDAO" class="org.openiam.idm.srvc.msg.service.SysMessageDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	

	<bean id="orgPolicyWS" class="org.openiam.idm.srvc.orgpolicy.ws.OrgPolicyWebServiceImpl" >
		<property name="acceptService" ref="orgPolicyService" />
	</bean>
	
	<bean id="orgPolicyService" class="org.openiam.idm.srvc.orgpolicy.service.OrgPolicyServiceImpl" >
		<property name="acceptanceDao" ref="orgPolicyDAO" />
		<property name="userLogDao" ref="orgPolicyLogDAO" />
	</bean>

	<bean id="orgPolicyDAO" class="org.openiam.idm.srvc.orgpolicy.service.OrgPolicyDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	<bean id="orgPolicyLogDAO" class="org.openiam.idm.srvc.orgpolicy.service.OrgPolicyUserLogDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>		
	
	<!-- Email Beans --> 
	<bean id="mailService" class="org.openiam.idm.srvc.msg.service.MailServiceImpl">
		<property name="mailSender" ref="emailSender" />
		<property name="defaultSender" value="${mail.defaultSender}" />
		<property name="subjectPrefix" value=" " />
		<property name="userManager" ref="userWS" />
		<property name="scriptEngine" value="org.openiam.script.GroovyScriptEngineIntegration" />
		
	</bean>
	
	<bean id="emailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="port" value="${mail.port}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
	</bean>

	<!-- Language Beans -->
	<bean id="languageDataService" class="org.openiam.idm.srvc.lang.service.LanguageDataServiceImpl" >
		<property name="languageDao" ref="languageDAO" />
	</bean>
	
	<bean id="languageDAO" class="org.openiam.idm.srvc.lang.service.LanguageDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>		
	<!-- Location Beans -->
	<bean id="locationDataService" class="org.openiam.idm.srvc.loc.service.LocationDataServiceImpl" >
		<property name="locationDao" ref="locationDAO" />
	</bean>
	<bean id="locationWS" class="org.openiam.idm.srvc.loc.ws.LocationDataWebServiceImpl" >
		<property name="locationDS" ref="locationDataService" />
	</bean>
	
	<bean id="locationDAO" class="org.openiam.idm.srvc.loc.service.LocationDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>		
	
	<!-- Utility Beans -->
	<bean id="cryptor" class="org.openiam.util.encrypt.DESedeCryptor" >
	</bean>	
	<bean id="hash" class="org.openiam.util.encrypt.SHA2Hash" >
	</bean>	

	<!-- Batch related beans -->	
	<bean id="batchDataService" class="org.openiam.idm.srvc.batch.service.BatchDataServiceImpl" >
		<property name="batchDao" ref="batchConfigDAO" />
	</bean>
	<bean id="batchConfigDAO" class="org.openiam.idm.srvc.batch.service.BatchConfigDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>		
	</bean>	
	
	
	
	<!-- Messaging Beans -->

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
<!-- 
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="locations">
	        <value>classpath:datasource.properties</value>
	    </property>
	</bean>
-->	
	
	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>org/openiam/idm/srvc/service/service/Service.hbm.xml</value>
				<value>org/openiam/idm/srvc/service/service/ServiceConfig.hbm.xml</value>
				<value>org/openiam/idm/srvc/service/service/RequestForm.hbm.xml</value>
				<value>org/openiam/idm/srvc/service/service/RequestApprover.hbm.xml</value>
				<!-- User Maps -->
				<value>org/openiam/idm/srvc/user/service/User.hbm.xml</value>
				<value>org/openiam/idm/srvc/user/service/UserNote.hbm.xml</value>
				<value>org/openiam/idm/srvc/user/service/UserAttribute.hbm.xml</value>
				<value>org/openiam/idm/srvc/user/service/Supervisor.hbm.xml</value>
				<!--contact information maps -->
				<value>org/openiam/idm/srvc/continfo/service/Address.hbm.xml</value>
				<value>org/openiam/idm/srvc/continfo/service/EmailAddress.hbm.xml</value>
				<value>org/openiam/idm/srvc/continfo/service/Phone.hbm.xml</value>
				<!-- Organization Maps -->
				<value>org/openiam/idm/srvc/org/service/Organization.hbm.xml</value>
				<value>org/openiam/idm/srvc/org/service/OrganizationAttribute.hbm.xml</value>
				<!-- Metadata Maps -->
				<value>org/openiam/idm/srvc/meta/service/MetadataElement.hbm.xml</value>
				<value>org/openiam/idm/srvc/meta/service/MetadataType.hbm.xml</value>
				<!-- Category Maps -->
				<value>org/openiam/idm/srvc/cat/service/Category.hbm.xml</value>
				<value>org/openiam/idm/srvc/cat/service/CategoryLanguage.hbm.xml</value>
				<!-- Group Maps -->
				<value>org/openiam/idm/srvc/grp/service/Group.hbm.xml</value>
				<value>org/openiam/idm/srvc/grp/service/GroupAttribute.hbm.xml</value>
				<value>org/openiam/idm/srvc/grp/service/UserGroup.hbm.xml</value>
				<!-- role Maps -->
				<value>org/openiam/idm/srvc/role/service/Role.hbm.xml</value>
				<value>org/openiam/idm/srvc/role/service/RoleAttribute.hbm.xml</value>
		        <value>org/openiam/idm/srvc/role/service/UserRole.hbm.xml</value>
				<!-- Audit log Maps -->
				<value>org/openiam/idm/srvc/audit/service/IdmAuditLog.hbm.xml</value>
				<!-- Menu Maps -->
				<value>org/openiam/idm/srvc/menu/service/Menu.hbm.xml</value>
				<value>org/openiam/idm/srvc/menu/service/Permission.hbm.xml</value>
				<!-- Util Maps -->
				<value>org/openiam/base/id/SequenceGen.hbm.xml</value>
				<value>org/openiam/idm/srvc/cd/service/ReferenceData.hbm.xml</value>
				<!-- Audit log Maps -->
				<value>org/openiam/idm/srvc/auth/login/Login.hbm.xml</value>
				<value>org/openiam/idm/srvc/auth/login/LoginAttribute.hbm.xml</value>
				<value>org/openiam/idm/srvc/auth/login/AuthState.hbm.xml</value>
				<!--  Policy Maps -->
				<value>org/openiam/idm/srvc/policy/service/Policy.hbm.xml</value>
				<value>org/openiam/idm/srvc/policy/service/PolicyAttribute.hbm.xml</value>
				<value>org/openiam/idm/srvc/policy/service/PolicyDef.hbm.xml</value>
				<value>org/openiam/idm/srvc/policy/service/PolicyDefParam.hbm.xml</value>
				<value>org/openiam/idm/srvc/policy/service/PolicyObjectAssoc.hbm.xml</value>

				<value>org/openiam/idm/srvc/secdomain/service/SecurityDomain.hbm.xml</value>
				<value>org/openiam/idm/srvc/mngsys/service/ProvisionConnector.hbm.xml</value>
				<value>org/openiam/idm/srvc/mngsys/service/ManagedSys.hbm.xml</value>
				<value>org/openiam/idm/srvc/mngsys/service/ManagedSysObjectMatch.hbm.xml</value>
				<value>org/openiam/idm/srvc/mngsys/service/ApproverAssoc.hbm.xml</value>
				<value>org/openiam/idm/srvc/mngsys/service/AttributeMap.hbm.xml</value>
								
				<value>org/openiam/idm/srvc/prov/request/service/ProvisionRequest.hbm.xml</value>
				<value>org/openiam/idm/srvc/prov/request/service/RequestApprover.hbm.xml</value>
				<value>org/openiam/idm/srvc/prov/request/service/RequestAttachment.hbm.xml</value>
				<value>org/openiam/idm/srvc/prov/request/service/RequestAttribute.hbm.xml</value>
				<value>org/openiam/idm/srvc/prov/request/service/RequestUser.hbm.xml</value>


				<value>org/openiam/idm/srvc/res/service/ResourceType.hbm.xml</value>
				<value>org/openiam/idm/srvc/res/service/ResourcePolicy.hbm.xml</value>
				<value>org/openiam/idm/srvc/res/service/ResourceProp.hbm.xml</value>
				<value>org/openiam/idm/srvc/res/service/ResourceRole.hbm.xml</value>
				<value>org/openiam/idm/srvc/res/service/Resource.hbm.xml</value>
				<value>org/openiam/idm/srvc/res/service/ResourceUser.hbm.xml</value>
				<value>org/openiam/idm/srvc/lang/service/Language.hbm.xml</value>
				<value>org/openiam/idm/srvc/loc/service/Location.hbm.xml</value>
				
				<value>org/openiam/idm/srvc/pswd/service/IdentityQuestGroup.hbm.xml</value>
				<value>org/openiam/idm/srvc/pswd/service/IdentityQuestion.hbm.xml</value>
				<value>org/openiam/idm/srvc/pswd/service/UserIdentityAnswer.hbm.xml</value>
				<value>org/openiam/idm/srvc/pswd/service/PwdHistory.hbm.xml</value>

				<value>org/openiam/idm/srvc/msg/service/SysMessage.hbm.xml</value>
				<value>org/openiam/idm/srvc/orgpolicy/service/OrgPolicy.hbm.xml</value>
				<value>org/openiam/idm/srvc/orgpolicy/service/OrgPolicyUserLog.hbm.xml</value>
				<value>org/openiam/idm/srvc/batch/service/BatchConfig.hbm.xml</value>
				<value>org/openiam/idm/srvc/rpt/qryobject/dto/UserLoginStatusReport.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${openiam.hibernate.dialect}</prop>	
				<prop key="hibernate.show_sql">${logSQL}</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<!-- prop key="hibernate.jdbc.fetch_size">${fetch.size}</prop>
				<prop key="hibernate.c3p0.minPoolSize">${openiam.hibernate.minPoolSize}</prop>
   				<prop key="hibernate.c3p0.maxPoolSize">${openiam.hibernate.maxPoolSize}</prop>
   				<prop key="hibernate.c3p0.timeout">${openiam.hibernate.timeout}</prop>
   				<prop key="hibernate.c3p0.max_statement">${openiam.hibernate.max_statement}</prop>
   				<prop key="hibernate.c3p0.idle_test_period">${openiam.hibernate.idle_test_period}</prop -->
   				<prop key="hibernate.validationQuery">${openiam.hibernate.validationQuery}</prop>
			</props>
		</property>
	
	</bean>

  
	<!-- Local DataSource that works in any environment -->
	<!-- Note that DriverManagerDataSource does not pool; it is not intended for production -->
	<!-- See JPetStore for an example of using Commons DBCP BasicDataSource as alternative -->
	<!-- See Image Database for an example of using C3P0 ComboPooledDataSource as alternative -->

     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${openiam.driver_classname}" />
        <property name="url" value="${openiam.driver_url}" />
        <property name="username" value="${openiam.username}" />
        <property name="password" value="${openiam.password}" />
     </bean>


	<!-- JNDI DataSource for J2EE environments -->
	<!-- 
	<jee:jndi-lookup id="dataSource" jndi-name="java:openiamDS"/>
	-->
<!--  
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/openiamDS</value>
		</property>
	</bean>
--> 
 	 

	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
  	<tx:annotation-driven transaction-manager="transactionManager"/>


  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <!-- the transactional semantics... -->
    <tx:attributes>
      <!-- all methods starting with 'get' are read-only -->
      <tx:method name="get*" read-only="true" propagation="SUPPORTS" />
      <!-- other methods use the default transaction settings (see below) -->
      <tx:method name="*" propagation="REQUIRED" rollback-for="RuntimeException"/>
      <tx:method name="send*" read-only="true" propagation="NOT_SUPPORTED" />
    </tx:attributes>
  </tx:advice>




  <!-- ensure that the above transactional advice runs for any execution
      of an operation defined by the FooService interface -->
      
  
  <aop:config>
    <aop:pointcut id="serviceOperation" expression="execution(* org.openiam.idm.srvc.service.service.ServiceMgr.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
  </aop:config>

  <aop:config>
    <aop:pointcut id="userOperation" expression="execution(* org.openiam.idm.srvc.user.ws.UserDataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="userOperation"/>
  </aop:config>  	

  <aop:config>
    <aop:pointcut id="orgOperation" expression="execution(* org.openiam.idm.srvc.org.service.OrganizationDataServiceImpl.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="orgOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="groupOperation" expression="execution(* org.openiam.idm.srvc.grp.ws.GroupDataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="groupOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="auditOperation" expression="execution(* org.openiam.idm.srvc.audit.ws.IdmAuditLogWebDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="auditOperation"/>
  </aop:config>   


  <aop:config>
    <aop:pointcut id="auditHelperOperation" expression="execution(* org.openiam.idm.srvc.audit.service.AuditHelper.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="auditHelperOperation"/>
  </aop:config>   
  

  <aop:config>
    <aop:pointcut id="navigatorOperation" expression="execution(* org.openiam.idm.srvc.menu.ws.NavigatorDataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="navigatorOperation"/>
  </aop:config>  

  <aop:config>
    <aop:pointcut id="loginDataOperation" expression="execution(* org.openiam.idm.srvc.auth.ws.LoginDataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="loginDataOperation"/>
  </aop:config>  

  <aop:config>
    <aop:pointcut id="roleDataOperation" expression="execution(* org.openiam.idm.srvc.role.ws.RoleDataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="roleDataOperation"/>
  </aop:config>  

  <aop:config>
    <aop:pointcut id="secDomainDataOperation" expression="execution(* org.openiam.idm.srvc.secdomain.service.SecurityDomainDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="secDomainDataOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="connectorDataOperation" expression="execution(* org.openiam.idm.srvc.mngsys.service.ConnectorDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="connectorDataOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="managedSysDataOperation" expression="execution(* org.openiam.idm.srvc.mngsys.service.ManagedSystemDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="managedSysDataOperation"/>
  </aop:config> 
  
  <aop:config>
    <aop:pointcut id="metadataOperation" expression="execution(* org.openiam.idm.srvc.meta.ws.MetadataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="metadataOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="categoryOperation" expression="execution(* org.openiam.idm.srvc.cat.service.CategoryDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="categoryOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="provRequestOperation" expression="execution(* org.openiam.idm.srvc.prov.request.service.RequestDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="provRequestOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="policyOperation" expression="execution(* org.openiam.idm.srvc.policy.service.PolicyDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="policyOperation"/>
  </aop:config> 

  <aop:config>
    <aop:pointcut id="resourceOperation" expression="execution(* org.openiam.idm.srvc.res.service.ResourceDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="resourceOperation"/>
  </aop:config> 


  <aop:config>
    <aop:pointcut id="languageOperation" expression="execution(* org.openiam.idm.srvc.lang.service.LanguageDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="languageOperation"/>
  </aop:config> 
   
    <aop:config>
    <aop:pointcut id="locationOperation" expression="execution(* org.openiam.idm.srvc.loc.ws.LocationDataWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="locationOperation"/>
  </aop:config> 

    <aop:config>
    <aop:pointcut id="authenticationOperation" expression="execution(* org.openiam.idm.srvc.auth.service.AuthenticationService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="authenticationOperation"/>
  </aop:config>   

  <aop:config>
    <aop:pointcut id="passwordOperation" expression="execution(* org.openiam.idm.srvc.pswd.ws.PasswordWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="passwordOperation"/>
  </aop:config>        

  <aop:config>
    <aop:pointcut id="challengeResponseOperation" expression="execution(* org.openiam.idm.srvc.pswd.service.ChallengeResponseService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="challengeResponseOperation"/>
  </aop:config>  

  <aop:config>
    <aop:pointcut id="referenceDataOperation" expression="execution(* org.openiam.idm.srvc.cd.service.ReferenceDataService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="referenceDataOperation"/>
  </aop:config>

  <aop:config>
    <aop:pointcut id="orgPolicyAcceptanceOperation" expression="execution(* org.openiam.idm.srvc.orgpolicy.ws.OrgPolicyWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="orgPolicyAcceptanceOperation"/>
  </aop:config>
  
  <aop:config>
    <aop:pointcut id="sysMessageOperation" expression="execution(* org.openiam.idm.srvc.msg.ws.SysMessageWebService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="sysMessageOperation"/>
  </aop:config>

  <aop:config>
    <aop:pointcut id="batchOperation" expression="execution(* org.openiam.idm.srvc.batch.service.BatchDataServiceImpl.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="batchOperation"/>
  </aop:config>    

  <aop:config>
    <aop:pointcut id="queryOperation" expression="execution(* org.openiam.idm.srvc.batch.service.BatchDataServiceImpl.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="queryOperation"/>
  </aop:config>    
  
</beans>

