<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>org.openiam.webadmin.busdel.base.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/dispatcher.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/permissions.jsp</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <!-- Using report as name to avoid conflict with existing struts code -->
  <servlet>
   		<servlet-name>report</servlet-name>
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   		<load-on-startup>2</load-on-startup>
   </servlet> 
  <!-- Using cnt (controller) as name to avoid conflict with existing struts code -->   
    <servlet>
   		<servlet-name>cnt</servlet-name>
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   		<load-on-startup>2</load-on-startup>
   </servlet> 
  
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

 <!-- Using .cnt as name to avoid conflict with existing struts code -->
  <servlet-mapping>
    <servlet-name>cnt</servlet-name>
    <url-pattern>*.cnt</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>*.report</url-pattern>
  </servlet-mapping>
 
  
  
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
 
  <resource-ref>
	<res-ref-name>diamellePool</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Application</res-auth>
	<res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  
 
   <env-entry>
    <description>Service</description>
    <env-entry-name>serviceId</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>IDM</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Root menu group to get applications</description>
    <env-entry-name>rootPermissionMenu</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>ROOT</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>rootCategory</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>ACL</env-entry-value>
  </env-entry>

  <env-entry>
    <description>Starting menu group for MenuAction and RoleAction permissions</description>
    <env-entry-name>rootAppMenu</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>ROOT</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Default language for RoleAction permissions</description>
    <env-entry-name>defaultLanguage</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>en</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Default Policy Metadata</description>
    <env-entry-name>policyMetadata</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>SEC_POLICY</env-entry-value>
  </env-entry>



   <ejb-ref id="EjbRef_1115827810828">
    <ejb-ref-name>ejb/Navigator</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.ebc.navigator.NavigatorHome</home>
    <remote>diamelle.ebc.navigator.Navigator</remote>
   </ejb-ref>

 <ejb-ref id="EjbRef_1115827810843">
    <ejb-ref-name>ejb/CategoryService</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.common.cat.CategoryServiceHome</home>
    <remote>diamelle.common.cat.CategoryService</remote>
 </ejb-ref>


 <ejb-ref id="EjbRef_1115827810859">
    <ejb-ref-name>ejb/Authenticator</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.security.auth.AuthenticatorHome</home>
    <remote>diamelle.security.auth.Authenticator</remote>
 </ejb-ref>

 <ejb-ref id="EjbRef_1115827810860">
    <ejb-ref-name>ejb/SecurityManager</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.security.auth.SecurityManagerHome</home>
    <remote>diamelle.security.auth.SecurityManager</remote>
 </ejb-ref>


 
	<ejb-ref id="EjbRef_1115827810891">
    <ejb-ref-name>ejb/AccessController</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.security.resource.AccessControllerHome</home>
    <remote>diamelle.security.resource.AccessController</remote>
 </ejb-ref>




  <ejb-ref id="EjbRef_1127849156234">
    <description />
    <ejb-ref-name>ejb/MetadataManager</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.common.meta.MetadataManagerHome</home>
    <remote>diamelle.common.meta.MetadataManager</remote>
  </ejb-ref>
  <ejb-ref id="EjbRef_1130864835718">
    <ejb-ref-name>ejb/IdQuestionManager</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.security.idquest.IdQuestionManagerHome</home>
    <remote>diamelle.security.idquest.IdQuestionManager</remote>
  </ejb-ref>
 

  <ejb-ref id="EjbRef_1116251258906">
    <ejb-ref-name>ejb/PolicyManager</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>diamelle.security.auth.PolicyManagerHome</home>
    <remote>diamelle.security.auth.PolicyManager</remote>
  </ejb-ref>


 

   
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/applicationContext*.xml classpath:applicationContext.xml 
	    <!-- classpath:activeDirBeansContext.xml classpath:LdapBeansContext.xml-->
	    </param-value>
	</context-param> 
  
</web-app>

