



.header {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none
}

.title {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none
}

.tdheader {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  background-color: #DBDFE9;
}

td {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  text-decoration: none;
}




.tddark {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  background-color: #E0E5EC;
}


.tdlight {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  background-color: #F5F7F9
}

.tddarknormal {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: normal;
  color: #111111;
  text-decoration: none;
  background-color: #E0E5EC;
}

.tdlightnormal {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: normal;
  color: #111111;
  text-decoration: none;
  background-color: #F5F7F9
}

.bodytext {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
   color: #111111;
  text-decoration: none;
}

.text {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: bold;
  color: #00427A;
  text-decoration: none;
 
}

.tdtab {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  color: #111111;
  text-decoration: none;
  background-color: #E0E5EC;
}

.error {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 9px; 
  color: #FF0000;
  text-decoration: none
}

.normaltext {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal;
  color: #00427A;
  text-decoration: none;
}

.plaintext {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal;
  text-decoration: none;
}

a: {
	text-decoration: none;
        font-weight: bold;
}

a:link {
	color: #00427A;
    font-weight: bold;
    text-decoration: none;
}




a:visited {
    color: #00427A;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: #8397B4;
    text-decoration: none;
}

p, ol, a {
  line-height: 1.4em;
}

p {
  margin: 10;
}



select       { font-size: 10px; font-family: verdana, arial,
sans-serif; }
input {   font-size: 10px; font-family:verdana, arial,
sans-serif;  }
textarea {  font-size: 10px; font-family:verdana, arial,
sans-serif; }
option {  font-size: 10px; font-family:verdana, arial,
sans-serif; }