<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <session-config>
      <session-timeout>30</session-timeout>  
    </session-config>

  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>org.openiam.webadmin.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>expirePage</param-name>
      <param-value>/login.selfserve?expire=1</param-value>
    </init-param>
    <init-param>
      <param-name>excludePath</param-name>
      <param-value>/pub</param-value>
    </init-param>
  </filter>


    <filter>
      <filter-name>TokenFilter</filter-name>
      <filter-class>org.openiam.webadmin.filter.SelfServeAuthFilter</filter-class>
      <init-param>
        <param-name>expirePage</param-name>
        <param-value>/login.selfserve?expire=1</param-value>
      </init-param>
      <init-param>
        <param-name>excludePath</param-name>
        <param-value>/pub</param-value>
      </init-param>
    </filter>


<!-- 
  <filter>
    <filter-name>AclFilter</filter-name>
    <filter-class>org.openiam.webadmin.filter.ACLFilter</filter-class>
    <init-param>
      <param-name>extTocheck</param-name>
      <param-value>.selfserve</param-value>
    </init-param>
    <init-param>
      <param-name>authorizedAccessPage</param-name>
      <param-value>/unauthorized.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>securityTokenType</param-name>
      <param-value>OPENIAM_TOKEN</param-value>
    </init-param>
  </filter>
-->

   <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

   <filter-mapping>
    <filter-name>TokenFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

 <!--  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

<!-- 
    <filter-mapping>
    <filter-name>AclFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
-->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>

  
   <servlet>
   		<servlet-name>selfserve</servlet-name>
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   		<load-on-startup>2</load-on-startup>
   </servlet> 
   
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>selfserve</servlet-name>
    <url-pattern>*.selfserve</url-pattern>
  </servlet-mapping> 



  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
 
 <error-page>
	<error-code>404</error-code>
	<location>/error-pages/error-404.jsp</location>
 </error-page>
 <error-page>
	<error-code>500</error-code>
	<location>/error-pages/error-500.jsp</location>
 </error-page> 
 

	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/applicationContext*.xml /WEB-INF/selfServeBeans.xml /WEB-INF/ws-beans.xml
	    </param-value>
	</context-param>  
  
</web-app>

