/* This is the Main template logo, Edit this to match the width and height of your new logo image */
#logo {width: 250px;height: 60px;}

/* Font Family Settings */

body#ff-meridian, #ff-meridian td {font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Calibri,helvetica, arial,sans-serif;font-weight:300;}
body#ff-optima, #ff-optima td {font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;}
body#ff-geneva, #ff-geneva td {font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;}
body#ff-helvetica, #ff-helvetica td {font-family: Helvetica, Arial, FreeSans, sans-serif;}
body#ff-lucida, #ff-lucida td {font-family: "Lucida Grande",Helvetica,Verdana,sans-serif;}
body#ff-georgia, #ff-georgia td {font-family: Georgia, sans-serif;}
body#ff-trebuchet, #ff-trebuchet td {font-family: "Trebuchet MS", sans-serif;}
body#ff-palatino, #ff-palatino td {font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;}

/* Core Formatting */

html {height: 100%;margin-bottom: 1px;}
body {margin: 0;line-height: 145%;}
.wrapper {}
form {margin: 0;padding: 0;}
body.f-small, body#ff-optima.f-small, body#ff-georgia.f-small {font-size: 11px;}
body, body.f-default, body#ff-meridian.f-small {font-size: 12px;}
body#ff-meridian, body#ff-meridian.f-default {font-size:13px;}
body#ff-optima, body#ff-optima.f-default {font-size: 13px;}
body#ff-georgia, body#ff-georgia.f-default {font-size: 13px;}
body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large {font-size: 14px;}
body#ff-meridian.f-large {font-size:15px;}
p {margin-top: 10px;margin-bottom: 15px;}
h1, h2, h3, h4, h5 {padding-bottom: 5px;margin: 25px 0 10px 0;font-weight: normal;line-height: 120%;}
h1 {font-size: 200%;line-height: 100%;}
h2 {font-size: 175%;line-height: 100%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;line-height: 130%;}
h5 {font-size: 120%;text-transform: uppercase;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus, a:hover, a:active { outline:none } 
.clr {clear: both;}
legend {padding:0;margin:10px 0 4px;font-weight:bold;}

/* Form overrides */

form.editor {padding:10px;margin-bottom: 15px;overflow: hidden;}
form.editor input, form.editor textarea {padding: 4px;}
form.editor fieldset {padding-left: 0;padding-right: 0;}
form.editor legend {font-size:120%;margin:15px 0;font-weight:bold;padding: 8px 4px 8px 15px;}
form.editor label {display:block;width: 120px;float:left;}
form.editor div.radio label {display:inline;width:auto;float:none;}

/* Main Header */

#main-header {padding-top: 20px;overflow: hidden;position: relative;}
.noheader {background: none;}
#logo {float: left;overflow: hidden;position: relative;}
.logo-module {margin-right: 290px;float: left;}
.logo-module h3 {margin-top: 0;}
.logo-desc {font-size: 13px;position: absolute;bottom: 0;left: 48px;text-decoration: none;text-transform: lowercase;font-style: italic;width: 100%;display:none;}
#logo:hover {text-decoration: none;}
.header-spacer {height: 25px;}

/* Search Bar */

#main-search {overflow: hidden;z-index: 20;margin-bottom: -1px;position: relative;}
#main-search.alt {margin-bottom: 0;}
#searchmod {padding: 8px;float: right;text-align: right;border-bottom: 0;}
#searchmod .search, #searchmod .rokajaxsearch {border: 0;padding: 0;}
#searchmod .inputbox {padding: 4px 0 4px 6px;font-size: 100%;float: left;width: 240px;margin: 0;}
#roksearch_search_str {width: 150px;}
#roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;margin-top: -1px;text-align: left;visibility: hidden;}
#roksearch_results a#roksearch_link {float: right;padding-right: 5px;margin-top: 4px;display: block;height: 16px;width: 16px;}
#roksearch_results h3 {margin-top: 0;margin-bottom: 0;line-height: 110%;font-size: 120%;padding-bottom: 0;}
#roksearch_results span {display: block;line-height: 120%;font-size: 90%;}
#roksearch_results .container-wrapper {overflow: hidden;}
#roksearch_results .page {float: left;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {padding: 6px 15px;line-height: 100%;text-transform: uppercase;font-weight: normal;font-size: 100%;}
#roksearch_results .roksearch_row_btm {overflow: hidden;}
#roksearch_results .roksearch_row_btm span {line-height: 140%;}
#roksearch_results span.small {display: block;position: absolute;bottom: 6px;right: 10px;text-align: right;}
#roksearch_results span.highlight {display: inline;}
#roksearch_results a.clr {font-size: 100%;}
#roksearch_results a:hover {text-decoration: none;}
#roksearch_results .roksearch_odd {padding: 15px;position: relative;}
#roksearch_results .roksearch_even {padding: 15px;position: relative;}
#roksearch_results .roksearch_odd-hover h3, #roksearch_results .roksearch_even-hover h3 {padding-left: 12px;}
.results ol.list {padding-left: 30px;margin-top: 0;}
.results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;}
.results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.results ol.list li p {margin-top: 0;}
#roksearch_results .container-arrows {height: 16px;width: 40px;float: left;margin-right: 10px;position: relative;}
#roksearch_results .arrow-left {width: 16px;height: 16px;position: absolute;bottom: 0;left: 0;cursor: pointer;}
#roksearch_results .arrow-left-disabled {width: 16px;height: 16px;position: absolute;bottom: 0;left: 0;}
#roksearch_results .arrow-right {width: 16px;height: 16px;position: absolute;bottom: 0;left: 22px;cursor: pointer;}
#roksearch_results .arrow-right-disabled {width: 16px;height: 16px;position: absolute;bottom: 0;left: 22px;}
form.search_result .inputbox {padding: 4px;}
form.search_result fieldset legend {padding-top: 10px;}
fieldset.phrase, fieldset.word, fieldset.only {padding: 10px 2px;}
.searchintro {margin-bottom: 10px;overflow: hidden;}

/* Top Main Menu */
#horiz-menu {height: 36px;margin-top: 3px;padding-top: 3px;}
ul#horiznav.menutop, #horiz-menu ul.menutop {padding: 0;position: relative;z-index:120;height: 36px;float: right;}
#horiz-menu li, #horiz-menu li a, #horiz-menu li .separator {z-index:200;position:relative;display: block;height: 36px;}
#horiz-menu a, #horiz-menu .separator {white-space: nowrap;display: block;float: left;height: 36px;line-height: 32px;font-weight: normal;font-size: 14px;text-decoration: none;z-index: 100;cursor: pointer;padding: 0;}
#horiz-menu li.active a, #horiz-menu li.active .separator {z-index: 100;cursor: pointer;margin: -1px -1px 0 -1px;}
#horiz-menu li:hover a, #horiz-menu li:hover .separator, #horiz-menu li.sfHover a, #horiz-menu li.sfHover .separator {z-index: 100;cursor: pointer;margin: -1px -1px 0 -1px;}
#horiz-menu ul {list-style: none;padding: 0;margin: 0;}
#horiz-menu li {display: block;float: left;margin: 0;padding: 0;font-weight: bold;}
#horiz-menu li a span, #horiz-menu li .separator span, #horiz-menu li a:hover span, #horiz-menu li .separator:hover span {display: block;padding: 0 10px;width: auto;}
/* Top Main Menu Dropdowns */

#horiz-menu li.active li a, #horiz-menu li.active li a:hover, #horiz-menu li.active li a.sfHover, #horiz-menu li li a:hover, #horiz-menu li li a.sfHover, #horiz-menu ul li.active.parent ul a, #horiz-menu li.active li .separator, #horiz-menu li.active li .separator:hover, #horiz-menu li.active li .separator.sfHover, #horiz-menu li li .separator:hover, #horiz-menu li li .separator.sfHover, #horiz-menu ul li.active.parent ul .separator {border: 0;margin: 0;}
#horiz-menu li li a, #horiz-menu li li .separator {text-indent:10px;font-weight: normal;padding: 0;margin: 0;height: 33px;}
#horiz-menu li li, #horiz-menu li li a span, #horiz-menu li li .separator span {padding: 0;margin: 0;height: 33px;}
#horiz-menu li li a span, #horiz-menu li li .separator span, #horiz-menu li li:hover a span, #horiz-menu li li:hover .separator span {margin: 0;}
#horiz-menu li li a span, #horiz-menu li li .separator span {background: none;height: 33px;}
#horiz-menu li li:hover a span, #horiz-menu li li:hover .separator span, #horiz-menu li li.sfHover a span, #horiz-menu li li.sfHover .separator span, #horiz-menu li.sfHover li a, #horiz-menu li.sfHover li .separator, #horiz-menu li:hover li a, #horiz-menu li:hover li .separator, #horiz-menu ul li.active ul li.active li a, #horiz-menu ul li.active ul li.active li .separator, #horiz-menu ul li.active.parent ul li a, #horiz-menu ul li.active.parent ul li .separator, #horiz-menu li li a:hover span, #horiz-menu li li .separator:hover span, #horiz-menu li li a.sfHover span, #horiz-menu li li .separator.sfHover span {background: none;border: 0;margin: 0;}
#horiz-menu li.active li a, #horiz-menu li.active.parent li a, #horiz-menu li.active li .separator, #horiz-menu li.active.parent li .separator {font-weight: normal;background: none;}
#horiz-menu ul ul {margin: -1px 0 0 0;border: 0;padding: 0 5px 5px 5px;}
#horiz-menu ul ul li, #horiz-menu ul ul li.active {height: 33px;}
#horiz-menu ul ul li a span, #horiz-menu ul ul li:hover a span, #horiz-menu ul ul li.sfHover a span, #horiz-menu ul ul li .separator span, #horiz-menu ul ul li:hover .separator span, #horiz-menu ul ul li.sfHover .separator span {padding: 0;}
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul li.active.parent ul a span, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator, #horiz-menu ul li.active.parent ul .separator span {text-transform: none;background: none;}
#horiz-menu li.parent, #horiz-menu li.active li.parent {z-index: 600;}
.menutop li:hover ul, .menutop li.sfHover ul {left: 0;top:0;}
#horiz-menu ul ul li, #horiz-menu ul ul li.c0, #horiz-menu ul ul li.c1, #horiz-menu ul ul li.c2, #horiz-menu ul ul li.c3 {float: left;width: 173px;padding: 0;}
#horiz-menu li ul.columns-1, #horiz-menu .drop-wrap.columns-1 {width: 175px;}
#horiz-menu li ul.columns-2, #horiz-menu .drop-wrap.columns-2 {width: 350px;}
#horiz-menu li ul.columns-3, #horiz-menu .drop-wrap.columns-3 {width: 525px;}
#horiz-menu li ul.columns-4, #horiz-menu .drop-wrap.columns-4 {width: 700px;}
.menutop .drop-wrap {float:none;left:-999em;position:absolute;z-index:500;width: 100%;}
.menutop li:hover .drop-wrap, .menutop li.sfHover .drop-wrap {left: -1px;top:37px;}
.menutop li:hover li .drop-wrap, .menutop li.sfHover li .drop-wrap, .menutop li li:hover li .drop-wrap, .menutop li li.sfHover li .drop-wrap, .menutop li li li:hover li .drop-wrap, .menutop li li li.sfHover li .drop-wrap {top:-999em;}
.menutop li li:hover .drop-wrap, .menutop li li.sfHover .drop-wrap, .menutop li li li:hover .drop-wrap, .menutop li li li.sfHover .drop-wrap, .menutop li li li li:hover .drop-wrap, .menutop li li li li.sfHover .drop-wrap {left:174px;top: 0;}
.menutop .submenu-animation-left {height: 100%;}

/* Showcase Section */

.showcase-surround {position: relative;overflow: hidden;z-index: 1;}
.showcase-bar {height: 50%;position: absolute;top: 25%;left: 0;width: 100%;}
#main-showcase {overflow: hidden;padding: 4px;position: relative;}
#showmodules {padding: 15px;}
#showmodules h3 {margin: 0 0 15px 0;}
.showcase-block {position: relative;}

/* Main Page Structure */

#main-body {position: relative;z-index: 1;overflow: hidden;}
#maincol, #leftcol, #rightcol {float: left;}
#leftcol .padding {padding: 15px 15px 0 0;}
#maincol .padding {padding: 15px 0 0 0;}
#rightcol .padding {padding: 15px 0 0 15px;}
#inset-block-right {float: right;}
#inset-block-right .right-padding {padding-left: 10px;}
#inset-block-left {float: left;}
#inset-block-left .left-padding {padding-right: 10px;}
table.mainbody, table.blog {width: 100%;border: 0;padding: 0;}
#showmodules, #mainmodules, #mainmodules2, #mainmodules3, #mainmodules4, #mainmodules5 {overflow: hidden;}
.spacer .block {float: left;}
#showmodules.spacer.w99 .block, #mainmodules.spacer.w99 .block, #mainmodules2.spacer.w99 .block, #mainmodules3.spacer.w99 .block, #mainmodules4.spacer.w99 .block, #mainmodules5.spacer.w99 .block {width: 99.99%;}
#showmodules.spacer.w49 .block, #mainmodules.spacer.w49 .block, #mainmodules2.spacer.w49 .block, #mainmodules3.spacer.w49 .block, #mainmodules4.spacer.w49 .block, #mainmodules5.spacer.w49 .block {width: 49.99%;}
#showmodules.spacer.w33 .block, #mainmodules.spacer.w33 .block, #mainmodules2.spacer.w33 .block, #mainmodules3.spacer.w33 .block, #mainmodules4.spacer.w33 .block, #mainmodules5.spacer.w33 .block {width: 33.33%;}
#showmodules .block.first .moduletable, #mainmodules5 .block.first .moduletable {padding: 0 15px 15px 0;}
#showmodules .block.middle .moduletable, #mainmodules5 .block.middle .moduletable {padding: 0 8px 15px 8px;}
#showmodules .block.last .moduletable, #mainmodules5 .block.last .moduletable {padding: 0 0 15px 15px;}
#mainmodules .block.first .sidemod, #mainmodules2 .block.first .sidemod, #mainmodules3 .block.first .sidemod, #mainmodules4 .block.first .sidemod {padding: 0 15px 0 0;}
#mainmodules .block.middle .sidemod, #mainmodules2 .block.middle .sidemod, #mainmodules3 .block.middle .sidemod, #mainmodules4 .block.middle .sidemod {padding: 0 8px 0 8px;}
#mainmodules .block.last .sidemod, #mainmodules2 .block.last .sidemod, #mainmodules3 .block.last .sidemod, #mainmodules4 .block.last .sidemod {padding: 0 0 0 15px;}

/* Main Body Items */

.main-article-block a:hover {text-decoration: none;}
.main-article-block, .blog_more ul {padding: 5px;}
#page.full-article .main-article-block {padding: 0;}
.main-article-block2 {padding: 5px 15px;margin-bottom: 15px;}
.main-article-title {padding: 0 0 2px 2px;}
.contentheading {margin: 0;font-size: 150%;font-weight: normal;line-height: 130%;padding: 0 0 5px 10px;}
.blog_more ul {list-style: none;margin: 0;}
.blog_more ul li {padding: 6px 0 6px 15px;}
.blog_more ul li a:hover {text-decoration: none;}
.main-article-block ul {list-style: none;padding-left: 10px;}
.main-article-block ul li {padding-left: 15px;padding-bottom: 5px;}
#breadcrumbs {margin: 0 0 20px 0;display: block;padding: 0 10px 10px 10px;}
#breadcrumbs h3 {display: none;}
.breadcrumbs {display: block;font-size: 100%;text-transform: uppercase;overflow: hidden;}
a.pathway {float: left;padding: 0 8px 0 0;font-weight: normal;display: block;}
.pathway img {width: 9px;margin-right: 5px;float: left;height: 12px;}
.componentheading {font-size: 140%;line-height: 150%;margin-bottom: 8px;margin-top: 0;padding-left: 16px;}
.buttonheading {margin: 5px 5px 10px 10px;float: right;}
contentheading.iteminfo {margin-top: 0;padding: 6px 0;}
.modifydate, .createdby, .createdate {display: block;line-height: 130%;font-size: 80%;}
a.readon {font-size: 12px;cursor: pointer;padding: 3px 5px;}
a.readon:hover {text-decoration: none;}
.pagination {height: 21px;line-height: 21px;margin-top: 10px;margin-bottom: 15px;}
.pagination .tab {float: left;margin-right: 6px;padding: 0 8px;}
.pagination .page-block {padding: 0 4px;float: left;margin-right: 6px;}
.cols1 {display: block;float: none;margin: 0;}
.cols2 {width: 49%;}
.cols3 {width: 30%;}
.column1, .column2 {margin: 0 5px 0 0;position: relative;}
.column2, .column1 {float: left;margin: 0;}
.column2 {float: right;margin: 0;width: 49%;}
.article_row {margin: 0;padding: 0;overflow: hidden;}
.blog_more {padding-top: 15px;}

/* Main Body Modules */

.module a:hover {text-decoration: none;}
.module h4 {margin-top: 0;}
#mainmodules h3, #mainmodules2 h3, #inset-block-left h3, #inset-block-right h3 {margin-top: 0;}
#mainmodules {padding: 25px 0 0 0;margin-bottom: 10px;}
#mainmodules2 {padding: 25px 0 10px 0;}
#mainmodules3 {margin-bottom: 35px;}
#mainmodules3 .module {padding: 15px 0 0 0;}
#main-banner {margin-bottom: 35px;}

/* Side Column Modules */

h3.side {margin: 0;}
.sidemod-title {padding: 0 0 2px 2px;}
.sidemod h3, .search-results-full h3 {padding: 0 0 5px 10px;}
.sidemod .module {margin-bottom: 20px;padding: 10px;}

/* Bottom Section */

#main-footer {overflow: hidden;}
#bot-logo {width: 130px;height: 28px;float: left;margin-right: 20px;}
#rocket {width: 165px;height: 22px;float: left;margin-right: 30px;}
.copyright-block {padding: 25px 0;}
#copyright {line-height: 24px;}

/* Extra Joomla Elements */

span.small {font-size: 90%;}
.sectiontableheader {font-weight: bold;padding: 4px;line-height: 25px;}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 2px 0 0px 5px;}
tr.sectiontableentry2 td, td.sectiontableentry2 {height: 25px;}
tr.sectiontableentry1 td, td.sectiontableentry1 {height: 25px;}
.filter input.inputbox {border: 0;padding: 4px;}
.contentpane, .contentpaneopen {width: 100%;}
.contentpaneopen_edit {float: right;}
.module fieldset {border: 0;}
table.contenttoc {float: right;margin-left: 25px;}
p.articleinfo {font-size: 90%;margin-top: 0;padding: 6px 0;}
span.row_separator, span.article_separator {display:none;}
ul#mainlevel {list-style: none;padding: 0;margin: 0;}
ul#mainlevel li {padding-left: 15px;padding-bottom: 5px;}

/* Side Menus */

#main-body ul.menu {margin: -10px -10px 0 -10px;padding: 0;}
#main-body ul.menu ul, #main-body ul.menu ul ul {margin:0;padding: 0;}
#main-body ul.menu li {list-style: none;margin: 0;padding: 2px;float: none;border-top: 0 !important;}
#main-body ul.menu li a {padding: 0;}
#main-body ul.menu span {display: block;line-height: 110%;padding: 7px 10px 7px 22px;}
#main-body ul.menu ul li ul li a, #main-body ul.menu ul li ul li .separator {text-indent: 15px;}
#main-body ul.menu ul li ul li ul li a, #main-body ul.menu ul li ul li ul li .separator {text-indent: 35px;}
#main-body ul.menu li.parent ul li span, #main-body ul.menu li.active.parent li span {background: none;}
#main-body ul.menu li.active.parent ul {padding: 6px 0;}
#main-body ul.menu a, ul.menu .separator {display: block;overflow: hidden;font-size: 110%;float: none;}
#main-body ul.menu li.active a, #main-body ul.menu li.active li.active a, #main-body ul.menu li.active li.active li.active a, #main-body ul.menu li.active .separator, #main-body ul.menu li.active li.active .separator, #main-body ul.menu li.active li.active li.active .separator {font-weight: bold;}
#main-body ul.menu li.active li a, #main-body ul.menu li.active li.active li a, #main-body ul.menu li.active li .separator, #main-body ul.menu li.active li.active li .separator, #main-body ul.menu li.active li.active li.active .separator {font-weight: normal;background: none;}
#main-body ul.menu li li {padding: 0;margin: 0;border: 0;background: none;font-size: 90%;}
#main-body ul.menu li.active a, #main-body ul.menu li.active a:hover, #main-body ul.menu li.active .separator, #main-body ul.menu li.active .separator:hover, #main-body ul.menu li a:hover, #main-body ul.menu li .separator:hover {text-decoration: none;}
#main-body ul.menu li.active ul {border-top: 0 !important;}
#main-body ul.menu li.active.parent a, #main-body ul.menu li.active.parent .separator {border-bottom: 0 !important;}
#main-body ul.menu li.active.parent li a, #main-body ul.menu li.active.parent li .separator {border: 0;}
#main-body ul.menu li span.separator, #main-body ul.menu li span.separator:hover, #main-body ul.menu li:hover span.separator {background: none;}

/* Extra Content Styles */

fieldset {border-left: 0;border-right: 0;border-top: 0 !important;}
fieldset.input, a img, body .pollstableborder {border: 0;}
form.poll fieldset {margin: 0 0 10px 0;}
img.content-left {float: left;margin-right: 10px;padding: 5px;}
img.content-right {float: right;margin-left: 10px;padding: 5px;}
.back_button {margin-top: 20px;margin-bottom: 10px;}
.tool-tip {padding: 4px;z-index: 5000;font-size: 90%;}
.bannergroup .clr {clear: none !important;}
#accessibility {height: 16px;float: right;margin-top: 20px;}
.textsizer-desc {display: block;float: right;text-align: right;font-size: 12px;margin-right: 8px;}
#accessibility span {background-repeat: no-repeat;}
#accessibility a {text-decoration: none; cursor: pointer;}
#accessibility #buttons {float: right;width: 40px;height:16px;overflow:hidden;}
#accessibility .button {display: block;float: right;width: 16px;height: 13px;}
#accessibility a.small .button {margin-right: 5px;}
#lock-button {height: 30px;float: left;text-align: left;line-height: 30px;}
#lock-button span {font-size: 13px;padding-left: 22px;margin: 0;}
#lock-button:hover {text-decoration: none;}
div.contact_email {margin-bottom: 15px;width: 350px;overflow: hidden;}
div.contact_email label {float: left;}
div.contact_email .inputbox {float: right;}
div.contact_email textarea#contact_text.inputbox {float: left;}

/* Login Styles */

.module .main-body-bottom4 {margin-bottom: 0;}
form.form-login, form.log {padding: 0 0 15px 0;margin: 0 -10px;}
form.form-login p {margin: 0;}
form.log p {padding-left: 5px;}
form.form-login .inputbox {padding: 4px 0;line-height: 16px;width: 100%;text-indent: 6px;}
form.form-login .login-links {margin-bottom: 8px;margin-top: 8px;}
.login-links a {padding-left: 12px;}
input.button {font-size: 12px;cursor: pointer;padding: 3px 5px;}
input.button:hover {text-decoration: none;}
form.form-login .login-username, form.form-login .login-password {margin-bottom: 10px;}
form.form-login span.username-label, form.form-login span.password-label {display: block;text-transform: uppercase;margin-bottom: 1px;padding-left: 2px;}
.remember-me {float: right;padding-top: 3px;}
#login-module {display: none;}
#login-module h3 {margin-top: 0;padding-left: 22px;}
#login-module form.form-login, #login-module form.log {margin: 0;background:none;border:0;}
#login-module .sidemod-title {border:0;}
#login-module form.form-login .inputbox {border:1px solid #ccc;background:#fff;color:#333;}
#login-module input.button {border:1px solid #bbb;background:#fff;color:#000;}
#login-module input.button:hover {background:#eee;}
#login-module .module a:hover {color:#000;}
div.name, div.user, div.email, div.pass, div.verify_pass {margin-bottom: 15px;width: 265px;overflow: hidden;}
div.name label, div.user label, div.email label, div.pass label, div.verify_pass label {float: left;}
button.button.validate {margin: 10px 0 10px 10px;}
form#josForm fieldset {border-bottom: 0;padding: 10px;}
form#josForm .inputbox {float: right;}

/* RokTabs */

.tabs .module {padding: 0;margin: 0;}
.tabs .sidemod-title {border-bottom: 0;}
#maincol .roktabs .padding {padding: 0;}
.roktabs-wrapper {padding: 0;position: relative;}
.tabs-bottom .roktabs-wrapper {border-bottom: 0;}
.roktabs-wrapper .roktabs-container-inner {position:relative;overflow: hidden;}
.roktabs-wrapper .roktabs-container-wrapper {clear: both;position: relative;overflow:hidden;}
.roktabs-wrapper .roktabs-container-wrapper div {float: left;}
.roktabs-wrapper .roktabs-container-wrapper div.wrapper {padding: 14px;width: auto;}
.roktabs-wrapper .roktabs-links {margin: 0;padding: 0;height: 31px;overflow: hidden;}
.roktabs-wrapper .active-arrows .roktabs-links {margin: 0 32px;padding: 0;height: 31px;}
.roktabs-wrapper .roktabs-links ul {text-align: left;font-weight: bold;list-style-type: none;padding: 0;overflow:hidden;margin: 0;height: 31px;}
.roktabs-wrapper .roktabs-links ul li {float: left;padding: 0;margin: 0;text-decoration: none;position: relative;height: 31px;line-height: 31px;}
.roktabs-wrapper .roktabs-links ul li.active span {margin: 0 -1px;}
.roktabs-wrapper .roktabs-links ul li.active.first span {border-left: 0 !important;margin: 0 -1px 0 0;}
.roktabs-wrapper .roktabs-links ul li.active.last span {border-right: 0 !important;margin: 0 0 0 -1px;}
.roktabs-wrapper .roktabs-links ul li span {padding: 0 10px;display: block;}
.roktabs-wrapper .roktabs-scroller {position: absolute;bottom: 0;right: 0;height: 31px;}
.roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev {line-height: 31px;text-align: center;cursor: pointer;z-index: 2;position: absolute;top: 0;height:31px;width: 32px;}
.roktabs-wrapper .arrow-next {right: 0;}
.roktabs-wrapper .arrow-prev {left: 0;}
.roktabs-wrapper .arrow-prev span, .roktabs-wrapper .arrow-next span {display: none;}
.clear {clear: both;}
blockquote.blue, blockquote.red, blockquote.green, blockquote.purple, blockquote.orange, blockquote.brown, blockquote.grey {background: none !important;border: 0 !important;}

/* @group Demo Content */

/* RokCandy Formatting */

.feature-block {width: 235px;float: left;margin-right: 11px;padding-bottom: 10px;}
.feature-img-wrap {position: relative;}
.feature-img-title {overflow: hidden;position: absolute;bottom: 0;left: 10px;padding: 4px;border-bottom: 0 !important;}
a.img-title {padding-left: 20px;}
.feature-article-title {display: block;font-weight: bold;margin: 10px 0;}
a.img-title {display: block;}
.feature-tab-img-wrap { margin-right: 10px; position: relative; }
.explore .feature-block { width: 276px; margin-right: 30px; margin-top: 5px; }

.showcase-feature {margin: -15px;padding: 0 8px;overflow: hidden;}
.show-feat-block {float: right;clear: right;margin: 8px 0;width: 361px;}
.show-feat-block1 {position: relative;}
.show-feat-block4 {padding: 10px;}
img.show-feat-image {float: right;}
.show-feat-title {font-weight: bold;}
a.show-readon {position: absolute;right: 25px;bottom: -1px;padding: 3px 5px;}
a.show-readon:hover {text-decoration: none;}
.show-feat2-block {position: absolute;width: 375px;top: 40px;left: 206px;font-size: 100%;line-height: 180%;overflow: hidden;font-weight: bold;}
.show-feat2-block .padding {padding: 12px 10px 15px 42px;}
.show-feat-block p {margin: 5px 0;}

/* Frontpage Modules */

.variation-chooser {height:25px;line-height:25px;margin-top:15px;position:relative;}
.variation-chooser .controls {height:25px;}
.variation-chooser .control-prev, .variation-chooser .control-next {cursor:pointer;float:left;height:16px;margin-right:3px;margin-top:1px;width:16px;}
.variation-chooser .control-prev {background-position:0 0;margin-right:0.5em;}
.variation-chooser .control-prev:hover {background-position:0 -16px;}
.variation-chooser .control-next {background-position:0 -32px;margin-left:0.5em;}
.variation-chooser .control-next:hover {background-position:0 -48px;}
.variation-chooser .controls {left:5px;position:absolute;}

.content-row {margin-bottom:20px;margin-top:12px;overflow: hidden;padding-bottom: 8px;}
.content-row-img {float:left;margin-right:15px;width:134px;}
.content-row-img img { margin-top: 5px; }
.content-row .readon {float:right;margin-top: 5px;}
.content-row-desc {margin-left:149px;}
.content-row h3 {margin-top:0;}

.connect-mod { margin-top: 10px; margin-left: 15px; }
.connect-mod .png { float: left; margin-bottom: 8px; margin-right: 5px; background-repeat: no-repeat; height: 16px; width: 16px; clear: both; }
.connect-mod span { float: left;}

/* Tutorials */

.tut-block {height: 100px; display: block;}
.tut-img {float: left; margin-right: 10px;}
.tut-title {font-size: 130%;font-weight: bold;margin-bottom: 15px;padding-top: 3px;}
pre {overflow: auto;}

/* Custom Modules Tutorial */

.rokmod-demo-block {font-size: 10px;}
.rokmod-demo-block .parameters div, .rokmod-demo-block .options div, .rokmod-demo-block .demo div {padding-right: 12px;}
.rokmod-demo-block .parameters, .rokmod-demo-block .options, .rokmod-demo-block .demo, .rokmod-demo-block .description {float:left;margin-right:12px;}
.rokmod-demo-block .parameters span, .rokmod-demo-block .options span, .rokmod-demo-block .demo span, .rokmod-demo-block .description span {display:block;font-size:11px;line-height:22px;}
.rokmod-demo-block .demo-span1 {font-weight: bold;}

/* Using Typography Tutorial */

.typo-left {float:left;width:48%;margin-right:15px;margin-bottom:15px;}
.typo-right {float:left;width:48%;margin-bottom:15px;}

/* @end */