<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!--  
*************************************************************************************
*  This xml document is used to define Log4J Configuration
*************************************************************************************
*********************************************************************************
* This appender simply outputs log messages to the console
*
*  %d - DateTime
*
*  %t - Thread
*
*  %C - Class
*
*  %m - Message
*
*  %n - New Line
*
*********************************************************************************
-->
       	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
	       <layout class="org.apache.log4j.PatternLayout">
		       <param name="ConversionPattern" value="%d [%t] %-5p %C{1} : %m%n" />
	       </layout>
       	</appender>   	

  

   <category name="org.hibernate">
      <priority value="error"/>
   </category>
   <category name="org.springframework">
      <priority value="error"/>
   </category>
   
   <category name="org.hibernate.SQL">
      <priority value="error"/>
   </category>
   
   <!-- Limit the org.openiam category to INFO -->
   <category name="org.openiam">
      <priority value="debug"/>
   </category> 	
 
     	<root>
	       <priority value="error" />  
	       <appender-ref ref="STDOUT" />  
       	</root>
       	 
</log4j:configuration> 