

.header {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none
}

.title {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none
}

.error {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #CC0000;
  text-decoration: none
}

.tdheader {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  background-color: #DBDFE9;
}

.td {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  text-decoration: none;
}




.tddark {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  background-color: #E0E5EC;
}


.tdlight {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  background-color: #F5F7F9
}


.text {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: bold;
  color: #00427A;
  text-decoration: none;
}

.normaltext {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal;
  color: #00427A;
  text-decoration: none;
}

.plaintext {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal;
  text-decoration: none;
}

.tdtab {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  color: #111111;
  text-decoration: none;
  background-color: #E0E5EC;
}

.error {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  color: #FF0000;
  text-decoration: none
}

.msg {
  font-family:  Verdana,Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  color: #FF0000;
  text-decoration: none
}


a: {
	text-decoration: none;
        font-weight: bold;
}

a:link {
	font-family:  Verdana,Arial, Helvetica, sans-serif; 
	color: #00427A;
    font-weight: bold;
    text-decoration: none;
	font-size: 11px;
}

a:visited {
	font-family:  Verdana,Arial, Helvetica, sans-serif; 
    color: #00427A;
    font-weight: bold;
    text-decoration: none;
	font-size: 11px;
}

a:active {
	font-family:  Verdana,Arial, Helvetica, sans-serif; 
    color: #8397B4;
    text-decoration: none;
	font-size: 11px;
}

p, ol, a {
  line-height: 1.4em;
}

p {
  margin: 10;
}



select       { font-size: 11px; font-family: verdana, arial,
sans-serif; }
input {   font-size: 11px; font-family:verdana, arial,
sans-serif;  }
textarea {  font-size: 11px; font-family:verdana, arial,
sans-serif; }
option {  font-size: 11px; font-family:verdana, arial,
sans-serif; }

body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 11px;
        font-weight: bold;
        background: #FFF;
        }

h2 {
        font: bold 14px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }

img {
    border: none;
}

/*- Menu 12--------------------------- */

#menu12 {
        width: 200px;
        margin: 10px;
        }

#menu12 li a {
        height: 32px;
          voice-family: "\"}\"";
          voice-family: inherit;
          height: 22px;
        text-decoration: none;
        }

#menu12 li a:link, #menu12 li a:visited {
        color: #666;
        display: block;
        background:  url(images/menu12.gif);
        padding: 10px 0 0 35px;
        }

#menu12 li a:hover, #menu12 li #current {
        color: #000;
        background:  url(images/menu12.gif) 0 -32px;
        padding: 10px 0 0 35px;
        }

